
.Graph-Heading{
    font-weight: bold;
    font-size: 32px;
    text-align:center;
    margin: 0 auto;
}
.Graph{
    margin:0 auto;
}
.custom-tooltip{
    background-color: white;
    padding: 20px;
}
.close-btn{
    float:right;
    background-color: red;
    padding:4px;
    font-weight: bold;
    font-size: 22px;
    cursor: pointer;
}
.Attrec-container{
    position: absolute;
    width: 1000px;
    height: 700px;
    background-color: white;
    left: calc(50% - 500px);
    top: calc(50% - 350px);
    box-shadow: 2px 2px 50px black;
    display: none;
    animation:appear 1s ;
}
@keyframes appear{
    0%{
        visibility: hidden;
    }
    100%{
        visibility: visible; 
    }
}
.table-container{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    
}
.table-heading{
    background-color: bisque;
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    border: 2px solid black;
}
.table-content{
    font-size: 18px;
    text-align: center;
    padding:10px;
    background-color: cadetblue;
    border-left: 2px solid black;
    border-right: 2px solid black;
}
.heading{
    background-color: #999;
    padding: 20px;
    text-align: center;
    font-size: 28px;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}
