.dropdown{
    margin-top:100px;
    text-align: center;
    font-size:  2rem;

}
.dropdown select{
    font-size: 1.5rem;
    width:300px;
    margin-left: 50px;
    text-align: center;
}
.dropdown select option {
    font-size: 1.5rem;
}
.btn{
    margin-top: 50px;
    font-size: 1.5rem;
    width: 300px;
    background-color: cadetblue;
    border-radius: 4px;
    border:none;
    color:white;
    padding: 10px 0;
    transition: 200ms;
}
.btn:hover{
    
    box-shadow: 0 0 20px #aaa;
    
}
#canvas{
    margin:50px;
}